In [0]:
parquet + _delta_logs


Managed 

1.create table tble (id int)

2.create table tblname as select

3.df=spark.read.csv("path")
df.write.saveAsTable("tblname")


drop : Table+ (parquet + _delta_logs) all are dropped 

Unmanaged/ External


1.create table tble (id int) location "s3/jpmc"

2.create table tblname location "s3/jpmc" as select

3.df=spark.read.csv("path")
df.write.option("path","s3/jpmc").saveAsTable("tblname")


drop: table is dropped but (parquet + _delta_logs) are untouched

In [0]:
drop table dev.naval.emp2

In [0]:
create table dev.naval.emp3 (id int, name string) location 's3://jpmctraining/detla/emp3'

In [0]:
insert into dev.naval.emp3 values (1,'a');

In [0]:
--ctas
select * from delta.`s3://jpmctraining/detla/emp2`